*.egg
*.egg-info
*.mo
*.pyc
*.pyo
.coverage
.coverage.*
.eggs
.installed.cfg
.mr.developer.cfg
.Python
.tox
bin
build
coverage.xml
develop-eggs
dist
downloads
eggs
htmlcov
local.cfg
parts
src
var
/include
/lib*
pip-selfcheck.json
/src
docs/_build/

# VirtualEnv on Windows:
Include/
Lib/
Scripts/

# Editor Backups:
*~
