[buildout]
extends = http://dist.plone.org/release/3.3.5/versions.cfg
develop = .
parts =
    zope2
    test
    zopepy

unzip = true

versions=versions

[versions]
zc.recipe.testrunner = 1.2.0
zope.testing = 3.9.5

[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
skip-fake-eggs = zope.testing
url = ${versions:zope2-url}

[test]
recipe = zc.recipe.testrunner
eggs = Products.GenericSetup
extra-paths = ${zope2:location}/lib/python


[zopepy]
recipe = zc.recipe.egg
eggs =
    Products.GenericSetup
interpreter = zopepy
scripts = zopepy
