include *.rst
include *.txt
include tox.ini

exclude MANIFEST.in

recursive-include Products *.png
recursive-include Products *.txt
recursive-include Products *.xml
recursive-include Products *.zcml
recursive-include Products *.pt
recursive-include Products *.zpt
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
